body{
    background: rgb(214, 159, 212);
    user-select: none;
}
.container  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 360px;
    grid-gap: 4px;
    background-color: #212121;
    border-radius: 5px;
    font-family: fantasy;
    padding: 5px;
    margin: 70px 0px 0px 500px;
    box-shadow: 12px 12px 2px 1px rgba(1, 12, 5, .2);

}
.block{
    background-color: rgb(94, 178, 218);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(24, 22, 20);
    cursor: pointer;
    padding: 20px;
    font-size: 25px;
}
form{
    width: 100%;    
}
input{
    width: 100%;
    height: 60px;
    border: none;
    text-align: right;
    outline: none;
    font-size: 25px;
}
.input{
    grid-column: 1/-1;
    padding: 0;
} 
.clear{
    grid-column: 1/-3;
}
.back{
    grid-column: 3/-1;
}
.result{
    grid-column: 4/-1;
    grid-row: 6/8;
}
.zero{
    grid-column: 1/3;
}
